albumentations==1.1.0
jupyter==1.0.0
matplotlib==3.4.3
notebook==6.4.5
numpy==1.21.3
opacus==1.0.0
optuna==2.10.0
Pillow==8.4.0
Poutyne==1.10.1
segmentation-models-pytorch==0.2.1
torch==1.10.1
torchvision==0.10.0
tqdm==4.62.3
wandb==0.12.15
